# Testing NOBIL data

### connecting with duckdb

In [130]:
import duckdb
from pathlib import Path


path_duckdb = Path.cwd().parent / "data_warehouse"

with duckdb.connect(path_duckdb /"data.duckdb") as conn:
    cursor = conn.execute("SELECT * FROM staging.csmd_table_dump;")
    df_csmd = cursor.df()


df_csmd.head()

,id,name,ocpidb_mapping_stasjon_id,street,house_number,zipcode,city,municipality_id,municipality,county_id,...,created,updated,station_status,land_code,international_id,_dlt_load_id,_dlt_id,description_of_location,user_comment,contact_info
0,14671,Agnesfridsvägen 193,SE#VAT#75dbcba6-8bdf-4c70-9b5e-c7e2ab4dd50d,Agnesfridsvägen,193,21375,Malmö,1280,Malmö,12,...,2023-04-24 11:31:42+02:00,2025-09-21 01:13:17+02:00,1,SWE,SWE_14671,1765794546.3968723,W7Z70oeFL/dK3w,None,None,None
1,54376,Reload Filipstad,SE#VIR#SEVIRLJX9T0WRY,John Ericssonsgatan,8,68230,Filipstad,1782,Filipstad,17,...,2025-06-13 03:44:32+02:00,2025-06-14 03:44:28+02:00,1,SWE,SWE_54376,1765794546.3968723,5s2dmDY6IJpnqA,None,None,None
2,36573,Källhage Fast AB,SE#CNE#10e955c3-9683-4e7a-de1f-08dc39d02872,Toredalsgatan,3,41871,Göteborg,1480,Göteborg,14,...,2024-11-02 00:00:34+01:00,2025-11-16 20:18:09+01:00,1,SWE,SWE_36573,1765794546.3968723,AHTJ/g6BK4mQdw,None,None,None
3,54401,Jönköpings kommun - P-hus Smedjan,SE#VLT#6cbb6162-2630-40ef-a66d-44a91bf9a6ed,Södra Strandgatan,59,55320,Jönköping,0680,Jönköping,06,...,2025-06-13 07:00:56+02:00,2025-06-13 07:00:56+02:00,1,SWE,SWE_54401,1765794546.3968723,/h051P+jnFh0Eg,None,None,None
4,18856,500,DK#MON#s384017,Flygarvägen,37,17569,Järfälla,0123,Järfälla,01,...,2023-12-15 12:57:07+01:00,2025-11-18 05:22:17+01:00,1,SWE,SWE_18856,1765794546.3968723,KC194rk0Z49FNg,None,None,None

In [ ]:
for kommun in df_csmd["municipality"].unique():
    print(kommun)

In [131]:
with duckdb.connect(path_duckdb /"data.duckdb") as conn:
    cursor = conn.execute("SELECT * FROM staging.status_online_table_dump;")
    df_st = cursor.df()
    
df_st.head()

,station_id,updated_date,attr_key,attrtypeid,attrname,attrvalid,trans,attrval,_dlt_load_id,_dlt_id
0,14671,2025-09-21 01:13:17+02:00,24,24,Open 24h,1,Yes,1,1765794546.3968723,3CKnsG93QiYBjQ
1,14671,2025-09-21 01:13:17+02:00,21,21,Real-time information,2,No,,1765794546.3968723,pn3ocTJ6mHpyGg
2,14671,2025-09-21 01:13:17+02:00,22,22,Public funding,4,None,,1765794546.3968723,bsTh6UvaSWdYCA
3,14671,2025-09-21 01:13:17+02:00,7,7,Parking fee,2,No,False,1765794546.3968723,WhlFMZ4/TLBYOA
4,14671,2025-09-21 01:13:17+02:00,6,6,Time limit,2,No,0,1765794546.3968723,uNOuJKH2Bww0hw

In [ ]:
with duckdb.connect(path_duckdb /"data.duckdb") as conn:
    cursor = conn.execute("SELECT * FROM staging.connector_table_dump;")
    df_conn = cursor.df()
    
df_conn

In [ ]:
from datetime import date
import datetime

x = datetime.datetime.now()

today_date = date(x.year, x.month, x.day).isoformat()

print(today_date)

In [ ]:
import requests 
from constants.utils import API_KEY_NOBIL


params = {
    "apikey": API_KEY_NOBIL,
    "countrycode": "SWE",
    "format": "json",
    "file": "false",
}

url = "https://nobil.no/api/server/datadump.php"

r = requests.get(url=url, params=params)
r.raise_for_status()

In [ ]:
data = r.json()

In [ ]:
data["chargerstations"][0][""]

In [ ]:
from pathlib import Path
import pandas as pd
path = Path.cwd().parents[0]/"data"



df = pd.read_excel(path/"trafikanalys.xlsx", sheet_name= "Data")

In [ ]:
df.head()

In [ ]:

df = df.reset_index().rename({"index": "id"}, axis=1)
df["id"] = df["id"].apply(lambda x: x+1)

In [ ]:
df

In [ ]:

df = df.to_dict(orient= "records")

In [ ]:
df

# Trafikanalys filter kommun och län

In [ ]:
import duckdb
from pathlib import Path


path_duckdb = Path.cwd().parent / "data_warehouse"

with duckdb.connect(path_duckdb /"data.duckdb") as conn:
    
    df= conn.execute("select * from staging.trafikanalys;")
    
    df_trafikanalys = df.df()

In [ ]:

# ~df_trafikanalys, "~" betyder Not, så det som inte är lika med det i contains kommer det att printas ut
# astype för sätta data typ, str vektoresering för att använda strip på varje post, str med contains är vektoresera varje post och använder
# contains med regex, case är boolesk om det ska vara case sensitive och regex boolesk för tolka det man skickar in är regular expression. 
filter = df_trafikanalys[~df_trafikanalys["kommun"].astype(str).str.strip().str.contains(r"Okänd kommun|Totalt", case= False, regex= True, na= False)]

In [ ]:

kommuner = sorted(filter["kommun"].dropna().unique().tolist())

In [ ]:
import numpy as np
np.set_printoptions(threshold=np.inf)


print(kommuner)

In [ ]:

# Samma som för kommun fast nu är det för län
df_filter_län = df_trafikanalys[~df_trafikanalys["l_n"].astype(str).str.strip().str.contains(r"Okänt län|Totalt",case= False, regex= True, na=False)]

In [ ]:
df_filter_län

In [ ]:
län = sorted(df_filter_län["l_n"].dropna().unique().tolist())

In [ ]:
print(län)

# Create csv file in seed for kommun and län

In [ ]:



df_trafikanalys = df_trafikanalys[~df_trafikanalys["kommun"].astype(str).str.strip().str.contains(r"Okänd kommun|Totalt", case= False, regex= True, na= False)]
df_trafikanalys = df_trafikanalys[~df_trafikanalys["l_n"].astype(str).str.strip().str.contains(r"Okänt län|Totalt",case= False, regex= True, na=False)]

In [ ]:

# Create csv file in seeds
path = Path().cwd().parent/"data_transform/seeds"

df_kommun_lan = (df_trafikanalys[["kommun", "l_n"]].drop_duplicates())

df_kommun_lan.to_csv(path/"municipality_lan.csv", index=False, encoding= "utf-8")

In [ ]:
len(df_kommun_lan["l_n"].unique())

# Exploration marts

In [3]:
import duckdb
from pathlib import Path


PATH_DUCKDB = Path.cwd().parent / "data_warehouse" / "data.duckdb"
    
with duckdb.connect(PATH_DUCKDB, read_only=True) as conn:
    
    query = 'SELECT * FROM marts.nr_charger;'

    curser = conn.execute(query=query)
    
    df = curser.fetchdf()
    
    df

In [ ]:
len(df)

289

In [21]:
df

,antal_ladd_stationer,antal_operator,laddpunkter,procent_antal_snabb_laddpunkter,municipality,county
0,14,2,81.0,7.14,emmaboda,kalmar
1,94,33,869.0,28.72,helsingborg,skåne
2,61,20,468.0,19.67,kungsbacka,halland
3,16,12,66.0,43.75,sunne,värmland
4,46,15,172.0,21.74,västervik,kalmar
...,...,...,...,...,...,...
284,10,4,31.0,10.00,bengtsfors,västra götaland
285,6,3,22.0,83.33,sorsele,västerbotten
286,6,5,29.0,83.33,hammarö,värmland
287,6,5,38.0,16.67,tjörn,västra götaland
288,4,4,13.0,50.00,högsby,kalmar

In [19]:
county = df.groupby("county")["antal_ladd_stationer"].sum()

In [20]:
county.loc["stockholm"]

np.int64(2185)

In [23]:
import duckdb
from pathlib import Path


PATH_DUCKDB = Path.cwd().parent / "data_warehouse" / "data.duckdb"
    
with duckdb.connect(PATH_DUCKDB, read_only=True) as conn:
    
    query = 'SELECT * FROM marts.infrastructur;'

    curser = conn.execute(query=query)
    
    df_infrastructur = curser.fetchdf()
    
df_infrastructur

,antal_ladd_stationer,total_vehicle,total_kw,municipality,county
0,45,9720.0,2204.0,falköping,västra götaland
1,116,14746.0,3973.4,gotland,gotland
2,102,44653.0,7299.8,örebro,örebro
3,34,18051.0,2454.0,falun,dalarna
4,38,56776.0,3868.0,sollentuna,stockholm
...,...,...,...,...,...
284,22,12708.0,3038.0,piteå,norrbotten
285,12,2493.0,1449.6,gällivare,norrbotten
286,4,659.0,22.0,ljusnarsberg,örebro
287,7,433.0,1600.0,arvidsjaur,norrbotten
288,32,16432.0,2261.6,nyköping,södermanland